body {
    font-family: "poppins";
}

.breadcrumbs {
    font-size: 2rem;
}

.checkbox-lg {
    scale: 1.5;
}

.checkbox-sm {
    scale: 0.5;
}

.img-sm {
    max-width:25%;
    height:auto;
}

.img-circle {
    border-radius: 50%;
    overflow: hidden;
}

.new-brand {
    width: 65%;
    margin: auto;
    border-radius: 50%;
    background-color: lightgray;
}